<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title%}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<!-- nav -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Cicerow - Example03</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="btn {% if nav == 'home' %} btn-outline-primary {% else %} btn-outline-fix text-dark {% endif %}" href="/">Home</a>
        <a class="btn {% if nav == 'add' %} btn-outline-primary {% else %} btn-outline-fix  text-dark {% endif %}" href="/addform">Add a New Registry</a>
        <a class="btn {% if nav == 'list' %} btn-outline-primary {% else %} btn-outline-fix text-dark {% endif %}" href="/list">List All Registries</a>
        <a class="btn {% if nav == 'list' %} btn-outline-primary {% else %} btn-outline-fix text-dark {% endif %}" href="/listhistory">Operation History</a>
    </nav>
</div>

{% block content %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
