{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width: 1000px;">
    <h1 class="display-5">{{ title }}</h1><br>
    <form method="post" action="/edit">
        <table border="0">
            <tr>
                <td width="20%" height="80" valign="middle">
                    <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">ID</p>
                        <input name="pk" id="pk" type="text" value="{{ registry['pk'] }}" class="form-control input-default" required="required" style="text-align:center;" readonly>
                    </div>
                </td>
                <td width="1%"></td>
                <td width="79%" height="80" valign="top" rowspan="3">
                    <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Description</p>
                        <textarea name="description" id="description" class="form-control input-default" required="required" rows="10" cols="100">{{ registry['description'] }}</textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="20%" height="80" valign="middle">
                    <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Greek Name</p>
                        <input name="greek_name" id="greek_name" type="text" value="{{ registry['greek_name'] }}" class="form-control input-default" required="required" style="text-align:center;">
                    </div>
                </td>
            </tr>
            <tr>
                <td width="20%" height="80" valign="middle">
                    <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Roman Name</p>
                        <input name="roman_name" id="roman_name" type="text" value="{{ registry['roman_name'] }}" class="form-control input-default" required="required" style="text-align:center;">
                    </div>
                </td>
            </tr>
            <tr>
                <td width="20%" height="80" valign="middle">
                    <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Gender</p>
                        <input name="gender" id="gender" type="text" value="{{ registry['gender'] }}" class="form-control input-default" style="text-align:center;">
                    </div>
                </td>
                <td width="1%"></td>
                <td width="20%" height="80" valign="middle">
                    <div class="form-group">
                        <p class="text-muted m-b-15 f-s-12">Image URL</p>
                        <input name="image_url" id="image_url" type="text" value="{{ registry['image_url'] }}" class="form-control input-default" style="text-align:center;">
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
